<div class="contents row">
  <% @movies.each do |movie| %>
    <%= render partial: "movie", locals: { movie: movie } %>
    
  <% end %>
  <div class="paginate">
    <%= paginate(@movies) %>
  </div>
</div>