<div class="contents row">
  <p><%= @nickname %>さんのお気に入り一覧</p>

  <% @favorite_movies.each do |movie| %>
    <%= render partial: "movies/movie", locals: { movie: movie } %>
  <% end %>
  <%= paginate(@favorite_movies) %>
</div>