<div class="contents row">
  <p><%= @user.nickname %>さんのお気に入り一覧</p>
  <% @user.favorites.each do |movie|%>
    <%= render partial: "movies/movie", locals: { movie: movie.movie } %>
  <% end %>
    
</div>